body
{
    font-family: Verdana;
}
#boardData, #btns{
    font-size: 14px;
    display: none;
    flex-direction:column;
}
button {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
#shortest {
    width: 200px;
    height: 50px;
}
button:hover {
    background-color: #f4d142;
    color: black;
    cursor: grab;
}
